body {
  margin: 0;
  background-color: #89c15e;
}

.main {
  font-family: "Roboto";
}

button {
  cursor: pointer;
}

#game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score-board {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ffffff;
  color: white;
  height: 6rem;
  width: 30rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  margin-bottom: 6rem;
  padding-bottom: 0.5rem;
}

.score-card-label {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.scorecard {
  display: flex;
  font-size: 1rem;
}

.user-score-card,
.computer-score-card {
  margin: 0.5rem;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 0.8rem;
  width: 5rem;
  height: 5rem;

  padding-top: 0.5rem;
  border-radius: 0.5rem;
}

#computer-score,
#user-score {
  font-size: 2rem;
}

#game-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-button-stone-paper {
  display: flex;
  gap: 3rem;
}

#stone-img,
#paper-img,
#scissors-img {
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
}

#stone-img {
  border: 0.7rem solid #0074b6;
}

#paper-img {
  border: 0.7rem solid #ffa943;
}

#scissors-img {
  border: 0.7rem solid #bd00ff;
}

.hr-line {
  rotate: 90deg;
  border: 5px solid #000000a3;
  z-index: -1;
}

.hrline {
  border: 5px solid#000000A3;
  width: 6rem;
  position: relative;
  bottom: 1rem;
  right: 4rem;
  rotate: 60deg;
  z-index: -1;
}

.hr-side {
  border: 5px solid #000000a3;
  width: 8rem;
  position: relative;
  bottom: 1rem;
  z-index: -1;
  rotate: 120deg;
  right: -4rem;
}

#result-section {
  gap: 10rem;
  position: relative;
  align-items: center;
}

#you-picked,
#pc-picked {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.7rem;
  position: relative;
}

.you-picked,
.pc-picked {
  position: relative;
}

#pc-circle,
#user-circle {
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.circle-one,
.circle-two,
.circle-three {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-one {
  background: #2e9a2563;
  width: 11rem;
  height: 11rem;
}

.circle-two {
  background: #3dc73063;
  width: 9rem;
  height: 9rem;
}

.circle-three {
  background: rgb(0, 151, 0);
  width: 9rem;
  height: 9rem;
}

.outcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pc-choice,
#user-choice {
  height: 4rem;
  width: auto;
  border-radius: 100%;
  border: 5px;
}

#user-choice-button,
#pc-choice-button {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  border: solid 8px;
  color: transparent;
  position: relative;
}

.game-staus-outcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.game-status {
  font-size: 3rem;
  color: white;
}

.game-player {
  font-size: 2rem;
}

.game-player-outcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

#play-again-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 6rem;
  height: 2rem;
  color: #6b6b6b;
  background-color: white;
  border-radius: 0.5rem;
  bottom: 0;
  margin-top: 0.8rem;
}

#hurray-page {
  text-align: center;
}

.image-trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: 100vh;
  position: relative;
}

#stars {
  top: 4rem;
  display: flex;
  gap: 5rem;
  position: absolute;
  animation: twinkle 1.5s infinite;
}

#stars-one {
  rotate: 35deg;
}

#stars-two {
  rotate: -35deg;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#trophy {
  width: 10rem;
  margin-bottom: 0;
  position: relative;
}

.hurray-content {
  font-size: 4rem;
}

#play-again-hurray-button {
  border: 2px solid white;
  width: 6rem;
  height: 2rem;
  margin-top: 1rem;
  color: #6b6b6b;
  background-color: white;
  border-radius: 0.5rem;
}

#rules-box {
  display: flex;
  flex-direction: column;
  background-color: #004429;
  width: 19rem;
  height: 18rem;
  font-size: 1rem;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  position: fixed;
  bottom: 5rem;
  border: solid white 2px;
  right: 1rem;
}

#rules-close-button {
  margin-left: 14rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -1rem;
  color: white;
  right: -1rem;
  border-radius: 100%;
  border-color: white;
  border-width: 0.2rem;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
}

.game-rules {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.rules-list {
  list-style: square;
  padding-left: 1rem;
}

.rules-box-list {
  margin-bottom: 0.5rem;
}

li::marker {
  color: yellow;
}

.rule-next-container {
  display: flex;
  gap: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

#rules-button {
  font-size: 1rem;
  width: 6rem;
  height: 2rem;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5rem;
}

#next-button {
  align-items: center;
  width: 6rem;
  height: 2rem;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}
